<h2>welcome to yogi {{version}}!</h2>

<div class="intro">
</div>

<h2 id="#install">Installation and Usage</h2>

<ol>
    <li>Download and install <a href="http://nodejs.org/#download">Node.js</a></li>
    <li>Run `npm -g install yogi`.</li>
    <li>Run `yogi` from inside the yui git repo or the yui3-gallery repo.</li>
</ol>

<h2 id="help">Command Line Arguments</h2>

<p>Below is a simple list of commands that `yogi` supports.</p>

```terminal

{{>help}}
```
