<h2>welcome to yogi {{version}}!</h2>

<div class="intro">
yogi is here to help!
</div>

<h2 id="#install">installation and usage</h2>

<ol>
    <li>download and install <a href="http://nodejs.org/#download">node.js</a></li>
    <li>run `npm -g install https://github.com/yui/yogi/tarball/master`</li>
    <li>run `yogi` from inside the <a href="https://github.com/yui/yui3">yui3 git repo</a> or the <a href="https://github.com/yui/yui3-gallery">yui3-gallery repo</a>.</li>
</ol>

<h2 id="help">command line arguments</h2>

<p>below is a simple list of commands that `yogi` supports.</p>

```terminal

{{>help}}
```
