
<h2>getting started</h2>

<p>
`yogi` can help you get your module seen via the free Gallery Content Delivery Network. Any
module that uses the <a href="http://yuilibrary.com/license">YUI BSD License</a> from a user
with a <a href="http://yuilibrary.com/contribute/cla/">signed CLA</a> qualifies.
</p>

<h2>making a request</h2>

<p>Making a CDN request with `yogi` is as simple as issuing `yogi cdn request` from inside 
of a modules source directory.</p>

<h2>viewing your modules info</h2>

<p>You can view the information about your module with: `yogi info` from inside of
the modules source directory or `yogi info [modulename]`.</p>

<h2>checking status</h2>

<p>You can view the status of your module with: `yogi cdn status` from inside of
the modules source directory or `yogi cdn status`.</p>

