     -v, --version   show yogi version
             build*  builds your module, duh!
               cdn*  [request|status] submit/view a cdn request
            config   set/get <value> works with the config
   create <module>*  create a new module in the gallery db
                gh   connect yogi to github, it helps!
           history*  view a modules history log
     info <module>*  show module information
     init <module>*  init a new module on disk
              lint   lint your files
            loader*  generate loader meta data
             login*  get a login token to do neat things.
            logout   remove tokens from yogi config
              logs*  view a modules cdn log
              mine   show your gallery modules
         precommit*  adds a precommit hook to this project
       pullrequest*  submit a pull request to the yui/yui3 project
             pulls*  manage pull requests, default will list open ones
    search <query>   find gallery modules
             serve*  fire up the yogi server, it's here to help
     show <module>   fetches the package.json for <module>
              test*  grover tells you what is wrong
            travis   check travis builds for yui and your fork
            update   convert this module into a yogi module
            whoami   who you have authed as

*help topic contains more options. --detailed for more info.


