-h, --help   	show this stuff
-v, --version	show yogi version
build        	builds your module, duh! [--loud for more info]
cdn          	[request|status] submit/view a cdn request
config       	set/get <value> works with the config
gh           	connect yogi to github, it helps!
info <module>	show module information
lint         	lint your files
login        	--username --password fetch your login token, pass nothing for interactive mode
logout       	remove tokens from yogi config
serve        	fire up the yogi server, it's here to help
show <module>	fetches the package.json for <module>
test         	grover tells you what is wrong: run from inside a module to test it, pass extra modules to test them too. From ./src to test all. Add --coverage to generate a coverage report. --cli to run only cli tests
update       	convert this module into a yogi module
whoami       	who you have authed as
